---
permalink: "sitemap.xml"
layout: false
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}{{ '/' | url }}</loc>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  {% for p in pages %}
  <url>
    <loc>{{ site.url }}/play/{{ p.slug }}/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  {% endfor %}
</urlset>
